<ion-header>
  <ion-toolbar>
    <ion-title>Panier: {{prix | number: '1.2-2'}}€ </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/livres']"><ion-icon name="cart-outline"></ion-icon><ion-icon name="arrow-forward-outline"></ion-icon><ion-icon name="card-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="panier.length == 0">
    <ion-text color="dark">
      <ion-img src="assets/gif/emptycart.webp"></ion-img>
    </ion-text>
  </ng-container>
  <ng-container *ngFor="let produit of panier">
    <app-livre-card [livre]="produit.livre" [quantite]="produit.quantite" [deletable]="true" (supprimerLivreEvent)="supprimerLivre($event)"></app-livre-card>
  </ng-container>
</ion-content>
