<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ livre.editeur }}</ion-card-subtitle>
    <ion-card-title>{{ livre.titre }} {{quantite > 0 ? "x"+quantite : ""}}</ion-card-title>
    <ion-card-subtitle>{{ livre.auteur }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>{{ livre.prix | number : '1.2-2' }}€</p>
    <ng-container *ngIf="deletable">
      <p>Total: {{ livre.prix * quantite | number : '1.2-2' }}€</p>
    </ng-container>
  </ion-card-content>
  <ng-container *ngIf="addable">
    <ion-button color="success" (click)="ajouterLivre()">
      <ion-icon name="book"></ion-icon>
      <ion-icon name="arrow-redo-outline"></ion-icon>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ng-container>
  <ng-container *ngIf="deletable">
    <ion-button color="danger" (click)="supprimerLivre()"><ion-icon name="book"></ion-icon><ion-icon name="cut-outline"></ion-icon><ion-icon name="trash-outline"></ion-icon></ion-button>
  </ng-container>
</ion-card>
