<ion-header>
  <ion-toolbar>
    <ion-title>Livres</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/panier']"><ion-icon name="card-outline"></ion-icon><ion-icon name="arrow-forward-outline"></ion-icon><ion-icon name="cart-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let livre of livres">
    <app-livre-card [livre]="livre" [addable]="true" (ajouterLivreEvent)="ajouterLivre($event)"></app-livre-card>
  </ng-container>
</ion-content>
